* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #0b1c2d;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  height: 45px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
header {
  background:
    linear-gradient(rgba(11,28,45,0.8), rgba(11,28,45,0.8)),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: orange;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

.about {
  background: #f4f7fb;
}

/* PROGRAM CARDS */
.program-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.program-card img {
  width: 100%;
  border-radius: 5px;
}

/* FOOTER */
footer {
  background: #0b1c2d;
  color: white;
  text-align: center;
  padding: 15px;
}
