header {
  background:
    linear-gradient(rgba(11,28,45,0.8), rgba(11,28,45,0.8)),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 20px;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #0b1c2d;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO SECTION */
header {
  background: linear-gradient(to right, #0b1c2d, #123456);
  color: white;
  padding: 100px 20px;
  text-align: center;
}

header a {
  display: inline-block;
  margin-top: 20px;
  background: orange;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

section h2 {
  margin-bottom: 15px;
  color: #0b1c2d;
}

/* PROGRAM LIST */
ul {
  margin-top: 10px;
}

ul li {
  margin-bottom: 8px;
}
.about {
  background: #f4f7fb;
}

.site-logo {
  height: 45px;
}

/* FOOTER */
footer {
  background: #0b1c2d;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
